requirement.txt
pip install requests beautifulsoup4 pandas numpy matplotlib

TIMESTAMP LOG_TYPE                    ACTION (LIKE WAS IT LOG IN LOGOUT ETC)               USER: USER_NAME/ID 
2024-12-31 24:12:10 #timestampformat'
